# Secrets
.env
.env.*.local
.env.backup
.env.testing

# Common
node_modules/
vendor/
.DS_Store
Thumbs.db

# Build
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
